:root{
    --home-p-font: 0.4em;
}

.ProductComponent{
    cursor: pointer;
    transition: 1s;
    font-size: var(--home-p-font);
}

.ProductComponent:hover{
    transform: scale(0.9);
}

.ProductComponent p{
    margin: 0.5em 0!important;
}

.ProductComponent .home-product .img-container{
    height: 28vh;
    position: relative;
}

.ProductComponent .home-product .img-container img{
    height: 100%;
}

.ProductComponent .home-product-details .desc{
    height: 20vh;
    overflow: hidden;
}

.ProductComponent .home-product-details .name{
    text-transform: capitalize;
}




@media(max-width: 767px){
    .ProductComponent .home-product-details .desc{
        height: 14vh;
    }
}